
  .Table{
    border-collapse: collapse;
    width: 100%;
    
  }
  th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
 /* tr{
    border-bottom: 1px solid #ccc;
  }
  th{
    text-align: left;
  }*/
  
  .Cell {
    border: 1px solid #f4f6f8;
    padding: 10px;
    text-align: left;
    
  }
  
  th:nth-child(1) {
    border-right:1px solid white
}
  td:nth-child(1) {
    border-right:1px solid white
}
